

.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.home {
  height: 84vh;
  background-image: url('./pictures/CoffeeNotebook.jpeg');
  background-size: cover;

}

.home-container > .home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-container > .home > .inventory {
  flex-basis: 100%;
}

.home-container > .home > .ing-container {
  flex-basis: calc(50% - 10px);
  display: flex;
  justify-content: center;
}



#inputgroup {
  margin-left: 520px;
  margin-top: 2px;
}

#inputgroup1 {
  margin-left: 520px;

}

.base {
  background-color: beige;
  height: 100vh;
}

.input {
  height: 1000px;
  width: 500px;
  background-color: beige;
  display: flex;
  flex-direction: column;

}

.title {
  margin-bottom: -15%;
  text-align: center;
  margin-top: 4%;
  font-weight: 600;
  font-family: cursive;
  font-size: 4em;

}

#recimage {
  height: 400px;
  width: 600px;
  margin-left: 29.5%;
  margin-top: 17.5%;
  border-style: groove;
  border-color: tan;
  border-width: 10px;
  border-radius: 5%;
}

.NavBar {
  background-color: beige;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
  margin: 5px;
}

.button2 {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}

.food-1 {
  display: flex;
}

.food-2 {
  display: flex;
  flex-direction: column;
  margin-right: -300px;
}

.food-3 {
  display: inline-flex;

  margin-left: 260px;
  margin-top: 75px;
}


.recipeBlock {
  display: inline-flex;
  flex-direction: column;
  margin-top: 13px;
}

.recipeBlock1 {
  display: inline-flex;
  flex-direction: column;
  margin-top: -200px;
}

.recipeBlock2 {
  display: inline-flex;
  flex-direction: column;
  margin-top: -38px;


}

.recipeGroup1 {
  display: flex;
  justify-content: space-around;
  margin-right: 300px;
}

.recipeGroup2 {
  display: flex;

  margin-right: 50px;

}

.recipeGroup3 {
  display: inline-flex;
  flex-direction: column;
  margin-left: -70px;
  margin-top: -25px;
}

#foodpic1 {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border-width: 10px;
  border-color: tan;
  border-style: groove;
  margin-top: 15px;
  background-image: url('/SushiPic.jpg');
  background-size: cover;
  background-position: center;

}

#foodpic2 {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border-width: 10px;
  border-color: tan;
  border-style: groove;
  margin-top: 15px;
  margin-left: -205px;
  background-image: url('/Shrimp-Tacos.jpg');
  background-size: cover;
  background-position: center;
}

#foodpic3 {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border-width: 10px;
  border-color: tan;
  border-style: groove;
  margin-top: -40px;
  margin-left: -50px;
  background-image: url('/FlamingBBQ.jpg');
  background-size: cover;
  background-position: center;
}

.modalName {
  width: 300px;
  height: 30px;
  margin-left: 15px;
  margin-top: 15px;
}

.ready {

  font-size: 5em;
  font-weight: 100;
  font-family: serif;
  margin-right: 300px;
  font-family: 'Dancing Script', cursive;
}

.almostready {

  font-size: 5em;
  font-weight: 100;
  font-family: serif;
  margin-right: 300px;
  font-family: 'Dancing Script', cursive;
  margin-top: 25px;
}


.footer {
  background-color: #f7f7f7;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventory {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  font-weight: 100;
}

.inggroup1 {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;

}

.ingblock1 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.ingblock2 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

#ingredientinput {
  margin-top: 13px;
}

.inggroup2 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}



.ingblock3 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}


.ingblock4 {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}


#ingpic1 {
  background-image: url('/Steaks1.jpeg');
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border-width: 10px;
  border-color: tan;
  border-style: groove;
  background-size: cover;
  background-position: center;
}

#ingpic2{
  background-image: url('/EggsPic.jpg');
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border-width: 10px;
  border-color: tan;
  border-style: groove;
  background-size: cover;
  background-position: center;
}

#ingpic3 {
  background-image: url('/MultipleIngredientsPic.jpeg');
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border-width: 10px;
  border-color: tan;
  border-style: groove;
  background-size: cover;
  background-position: center;
}

#ingpic4 {
  background-image: url('/Ribs.jpeg');
  width: 200px;
  height: 200px;
  border-radius: 25%;
  border-width: 10px;
  border-color: tan;
  border-style: groove;
  background-size: cover;
  background-position: center;
}

#ingredientinput {

  }

#wizard {
  width: 400px;
  margin: 40px auto;



}

.copy {


}
